<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946314515634-762tv3bqm8g5ke74hhg8nrercga30d8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946314515634-762tv3bqm8g5ke74hhg8nrercga30d8d</string>
	<key>API_KEY</key>
	<string>AIzaSyAtNrIbzDTvlSxwIHpsq0Q4gV_octFlV58</string>
	<key>GCM_SENDER_ID</key>
	<string>946314515634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studiobong.brickbreaker</string>
	<key>PROJECT_ID</key>
	<string>brickbreaker-7eaf2</string>
	<key>STORAGE_BUCKET</key>
	<string>brickbreaker-7eaf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946314515634:ios:3e024436d7d1a5841a25ab</string>
</dict>
</plist>